:root {
  --primary-color: #5daa58;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat";
  font-size: 22px;
  color: #051e43;
  margin: 0;
}
h1 {
  color: 051e43;
}

/* Added styles */
a {
  text-decoration: none;
}

.AnimationIn {
  animation-name: NavIn;
  animation-duration: 0.5s;
}

.AnimationOut {
  animation-name: NavOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes NavIn {
  from {
    right: -350px;
    display: none;
  }
  to {
    right: 0;
    display: block;
  }
}

@keyframes NavOut {
  from {
    right: 0;
    display: block;
  }
  to {
    right: -350px;
    display: "none";
  }
}
