---
import img from "./images/BlogbgGradient.svg";
---

<div class="container">
  <img src={img} class="responsive" alt="blogs" />
</div>

<style>
  .responsive {
    width: 100%;
    height: auto;
  }
</style>
