---
// import Hamburger from '../components/hamburger.js'';
import Hamburger from "./Hamburger.astro";
---

<nav>
  <div class="logo">
    <a href="#">Boekelaar coaching</a>
  </div>
  <Hamburger />
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Over mij</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 70px;
    padding: 0 30px;
  }

  .logo a {
    font-weight: bold;
    font-size: 1.9vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin: 0 2dvh;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 2dvh;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2dvw;
  }

  @media (max-width: 840px) {
    .nav-links {
      display: none;
    }
  }
</style>
