---
import img from "./images/Profilepic.svg";
---

<container>
  <div class="weltext">
    <p>Hello there</p>
  </div>
  <div class="containerImg">
    <img src={img} class="responsive" alt="Casper Boekelaar" />
  </div>
</container>

<style></style>
